
  background-color: #fff;
  opacity: 0.8;
}

.current-overview {
  margin-bottom: 20px;
}
.current-date {
  margin: 0;
  padding: 0;
}
.temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 500;
}
.temperature .units {
  position: relative;
  font-size: 16px;
  text-decoration: none;
}

.temperature img {
  margin-left: 30px;
  height: 80px;
  width: 80px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 20px;
  font-weight: bold;
}

.weather-forecast-temperature-max {
  font-weight: bolder;
}

.weather-forecast-temperature-min {
  opacity: 0.9;
}

.weather-forecast-temperatures {
  font-size: 15px;
}


    
